* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: #F5F3EB;
    width: 100%;
}
header{
    position: static;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
    transition: 0.3s ease;
    background-color: #F5F3EB;    
}

header .logo {
    color: #F26649;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}
header nav ul {
    margin: 10px 20px;
    list-style: none;
    text-align: right;
    position: relative;
}
header nav ul li {
    display: inline-block;
    margin: 10px 20px;
    text-transform: uppercase;
}
header nav ul li a {
    color: black;
    text-decoration: none;
}
header nav ul li a:hover {
    color: orange;
}
.Home_Section{
    margin-right: auto;
    margin-left: 3%;
    margin-top: 10%;
    max-width: 770px;
}
.Home_Section h1 {
    color: #241F21;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 70px;
}
.Home_Section p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 19px;
    color: #696969;
}
ul{
    line-height: 205%;
}
section .basic_info{
    margin-top: 3%;
}
section .basic_info h1 {
    color: #241F21;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 70px;
    padding: 10px;
}
section div h3{
    color: orange;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding-left: 28px;
    padding-top: 15px;
}
section .box{
    height: 500px;
    background-color: aquamarine;
    position: fixed;
    margin-left: 59%;
    top: 2%;
    border-radius: 20px;
}
section .box img{
    margin-left: -5%;
    height: 200px;
    width: 120px;
    border-radius: 5%;
}
section .box p {
    border-radius: 5%;
    margin-left: 2%;
    text-align: center; 
    background-color: rgb(241, 241, 241); 
    border-radius: 20px; 
    padding-top: 10%;
}

section .box .box_ul{
    margin-top: 1%;
    margin-left: 15%;
}

section div ul li{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 19px;
    color: #696969;
    padding-bottom: 2px;
}
section div h2{
    font-size: 2rem;
    padding-bottom: 10px;
    color: #241F21;
}
section div h4{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 19px;
    color: rgb(248, 175, 64)
}
section div p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 19px;
    color: #696969;
}
/*contact area*/
.content_contact{
    margin-top:3%; 
    background-color: aquamarine;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 20px;
}
.content_contact h2 {
    margin-top: 2%;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}
.get_content{
    display: flex; 
}
.detail_contact {
    width: 46%;
    height: 42vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content_contact section aside{
    margin-left: 5%;    
}
.content_contact section aside h2{
    text-align: left;
}
.content_contact section aside p {
    font-size: x-large;
    margin-bottom: 5%;
}
.content_contact section aside ul {
    background-color: #8ee7e8;
    padding: 30px;
    border-radius: 20px;
}
form {
    width: 90%;
    max-width: 600px;
}

.input-group{
    margin-bottom: 30px;
    position: relative;
}
.input-group:hover{
    background: rgb(238, 201, 153);
}

input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid black;
    color: black;
    background: transparent;
    font-size: 15px;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: black;
    cursor: text;
    transition: 0.2s;
}

button {
    padding: 10px 0;
    color: black;
    outline: none;
    background: #3ce0d5;
    border: 2px solid black;
    width: 100%;
    cursor: pointer;
    border-radius: 15px;
}
button:hover{
    background: #59acac;
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group{
    flex-basis: 48%;
}

footer{
    position: absolute;
    bottom: 0%;
    color: #3a3136;
    font-size: 14px;
    width: 100%;
    text-align: end;
    padding: 1.7%;
}


/*TABLET0*/
@media screen and (max-width: 790px){
    header{
        align-items: center;
        padding: 5px 50px;    
    }
    header nav ul {
        list-style: none;
        text-align: right;
        position: relative;
        margin: 10px;
    }
    header nav ul li{
        margin: 10px 19px;
    }
    .Home_Section {
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 15%;
        max-width: 620px;
        text-align: justify;
    }
    /*education*/

    /*contact html*/
    .get_content{
        display: block;
        margin: 5%;
    }
    .detail_contact{
        margin-top: 0%;
        width: 100%;
    }
    form {
        margin-top: -40%;
    }
    footer{
        position: relative;
        bottom: 0%;
    }
}

/*MOBILE*/
@media screen and (max-width: 490px){
    header{
        padding: 0%;
        align-items: none;
        display: list-item;
    }
    header .logo{
        text-align: center;
        margin: 3.5%;
    }
    header nav ul {
        text-align: center;
    }
    .Home_Section {
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 15%;
        max-width: 620px;
        text-align: justify;
    }
/*education*/
    section{
        margin: 3%;
    }
    section .basic_info h1{
        font-size: 45px;
    }

    .box{
        display: none;
    }

/*contact*/
    .get_content{
        display: block;
        margin: 5%;
    }
    .detail_contact{
        margin-top: 30%;
        width: 100%;
    }

    footer{
        margin-top: 5%;
        margin-bottom: 3.5%;
        margin-right: 3.5%;
    }
}
